<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>ToDo</h1>
            <input type="text" class="form-control" [(ngModel)]="newTask" (keyup.enter)="addTodo()"
                placeholder="Add a new task" />
            <button class="btn btn-primary" (click)="addTodo()">Add</button>
            <app-filter (filterChanged)="setFilter($event)"></app-filter>
            <ul class="list-group">
                @for (todo of filteredTodos; track todo.id) {
                <li class="list-group-item">
                    @if (!todo.editing) {
                    <div>
                        <input type="checkbox" [checked]="todo.completed" (change)="toggleComplete(todo)">
                        <span class="form-control" [class.completed]="todo.completed">
                            {{ todo.value }}
                        </span>
                        <div>
                            <button class="btn btn-warning" (click)="editTodo(todo)"><img src="/assets/svg/edit.svg" alt="edit"></button>
                            <button (click)="deleteTodo(todo.id)" class="btn btn-light mr5"><img
                                    src="/assets/svg/delete.svg" alt="delete"></button>
                        </div>
                    </div>
                    }
                    @if (todo.editing) {
                    <div class="col-sm-12">
                        <input type="text" class="form-control" [(ngModel)]="todo.value"
                            (keyup.enter)="saveTodo(todo, todo.value)" />
                        <button class="btn btn-info" (click)="saveTodo(todo, todo.value)">
                            <img src="/assets/svg/save.svg" alt="save">
                        </button>
                        <button class="btn btn-success mr5" (click)="cancelEdit(todo)">
                            <img src="/assets/svg/cancel-close.svg" alt="cancel-close">
                        </button>
                    </div>
                    }
                </li>
                }
            </ul>
        </div>
    </div>
</div>